In [28]:
import pandas as pd
import numpy as np

In [29]:
df = pd.read_csv('Incident sorted.csv')

In [30]:
df_ = df.pivot_table('# Incidents',['Incident Reported Year', 'Neighbourhood Description (Occurrence)','Incident Reported Quarter','Incident Reported Month'],'UCR Violation Type Group (Incident)')

In [31]:
df_

UCR Violation Type Group (Incident)                                                                              Assault  \
Incident Reported Year Neighbourhood Description (Occurrence) Incident Reported Quarter Incident Reported Month
2011                   ABBOTTSFIELD                           Q1                        1                            2.0
                                                                                        2                            3.0
                                                                                        3                            1.0
                                                              Q2                        4                            2.0
                                                                                        5                            4.0
                                                                                        6                            1.0
                                                              Q3                        7                            4.0
                                                                                        8                            6.0
                                                                                        9                            6.0
                                                              Q4                        10                           1.0
                                                                                        11                           2.0
                                                                                        12                           2.0
                       ALBANY                                 Q1                        1                            NaN
                                                              Q2                        5                            NaN
                       ALBERTA AVENUE                         Q1                        1                            7.0
                                                                                        2                            8.0
                                                                                        3                            5.0
                                                              Q2                        4                            8.0
                                                                                        5                            8.0
                                                                                        6                           11.0
                                                              Q3                        7                            4.0
                                                                                        8                           13.0
                                                                                        9                            9.0
                                                              Q4                        10                           8.0
                                                                                        11                           8.0
                                                                                        12                           3.0
                       ALBERTA PARK INDUSTRIAL                Q1                        1                            NaN
                                                                                        2                            NaN
                                                              Q2                        4                            NaN
                                                                                        5                            NaN
...                                                                                                                  ...
2016                   WINTERBURN INDUSTRIAL AREA WEST        Q1                        1                            NaN
                                                                                        2                            NaN
                                                                                        3                            NaN
                                                              Q2                        4                            1.0
                                                                                        5                            NaN
                                                                                        6                            NaN
                       WOODCROFT                              Q1                        1                            2.0
                                                                                        2                            6.0
                                                                                        3                            3.0
                                                              Q2                        4                            4.0
                                                                                        5                            3.0
                                                                                        6                            3.0
                       YELLOWHEAD CORRIDOR EAST               Q1                        1                            NaN
                                                                                        2                            1.0
                                                                                        3                            2.0
                                                              Q2                        4                            NaN
                                                                                        5                            1.0
                                                                                        6                            NaN
                       YELLOWHEAD CORRIDOR WEST               Q1                        3                            NaN
                                                              Q2                        6                            1.0
                       YORK                                   Q1                        1                            3.0
                                                                                        2                            1.0
                                                                                        3                            3.0
                                                              Q2                        4                            2.0
                                                                                        5                            1.0
                                                                                        6                            1.0
                       YOUNGSTOWN INDUSTRIAL                  Q1                        1                            NaN
                                                                                        2                            1.0
                                                              Q2                        5                            NaN
                                                                                        6                            NaN

UCR Violation Type Group (Incident)                                                                              Break and Enter  \
Incident Reported Year Neighbourhood Description (Occurrence) Incident Reported Quarter Incident Reported Month
2011                   ABBOTTSFIELD                           Q1                        1                                    NaN
                                                                                        2                                    NaN
                                                                                        3                                    NaN
                                                              Q2                        4                                    NaN
                                                                                        5                                    1.0
                                                                                        6                                    NaN
                                                              Q3                        7                                    1.0
                                                                                        8                                    1.0
                                                                                        9                                    3.0
                                                              Q4                        10                                   NaN
                                                                                        11                                   NaN
                                                                                        12                                   1.0
                       ALBANY                                 Q1                        1                                    NaN
                                                              Q2                        5                                    1.0
                       ALBERTA AVENUE                         Q1                        1                                    6.0
                                                                                        2                                    5.0
                                                                                        3                                    9.0
                                                              Q2                        4                                    8.0
                                                                                        5                                   11.0
                                                                                        6                                   13.0
                                                              Q3                        7                                   13.0
                                                                                        8                                    7.0
                                                                                        9                                   14.0
                                                              Q4                        10                                   7.0
                                                                                        11                                   6.0
                                                                                        12                                   3.0
                       ALBERTA PARK INDUSTRIAL                Q1                        1                                    3.0
                                                                                        2                                    NaN
                                                              Q2                        4                                    1.0
                                                                                        5                                    NaN
...                                                                                                                          ...
2016                   WINTERBURN INDUSTRIAL AREA WEST        Q1                        1                                    2.0
                                                                                        2                                    2.0
                                                                                        3                                    3.0
                                                              Q2                        4                                    6.0
                                                                                        5                                    1.0
                                                                                        6                                    1.0
                       WOODCROFT                              Q1                        1                                    1.0
                                                                                        2                                    1.0
                                                                                        3                                    NaN
                                                              Q2                        4                                    5.0
                                                                                        5                                    NaN
                                                                                        6                                    1.0
                       YELLOWHEAD CORRIDOR EAST               Q1                        1                                    1.0
                                                                                        2                                    2.0
                                                                                        3                                    NaN
                                                              Q2                        4                                    2.0
                                                                                        5                                    2.0
                                                                                        6                                    1.0
                       YELLOWHEAD CORRIDOR WEST               Q1                        3                                    NaN
                                                              Q2                        6                                    NaN
                       YORK                                   Q1                        1                                    3.0
                                                                                        2                                    5.0
                                                                                        3                                    2.0
                                                              Q2                        4                                    NaN
                                                                                        5                                    1.0
                                                                                        6                                    NaN
                       YOUNGSTOWN INDUSTRIAL                  Q1                        1                                    2.0
                                                                                        2                                    1.0
                                                              Q2                        5                                    1.0
                                                                                        6                                    NaN

UCR Violation Type Group (Incident)                                                                              Homicide  \
Incident Reported Year Neighbourhood Description (Occurrence) Incident Reported Quarter Incident Reported Month
2011                   ABBOTTSFIELD                           Q1                        1                             NaN
                                                                                        2                             NaN
                                                                                        3                             NaN
                                                              Q2                        4                             NaN
                                                                                        5                             NaN
                                                                                        6                             NaN
                                                              Q3                        7                             NaN
                                                                                        8                             NaN
                                                                                        9                             NaN
                                                              Q4                        10                            NaN
                                                                                        11                            NaN
                                                                                        12                            NaN
                       ALBANY                                 Q1                        1                             NaN
                                                              Q2                        5                             NaN
                       ALBERTA AVENUE                         Q1                        1                             NaN
                                                                                        2                             NaN
                                                                                        3                             NaN
                                                              Q2                        4                             NaN
                                                                                        5                             1.0
                                                                                        6                             NaN
                                                              Q3                        7                             NaN
                                                                                        8                             NaN
                                                                                        9                             NaN
                                                              Q4                        10                            NaN
                                                                                        11                            NaN
                                                                                        12                            NaN
                       ALBERTA PARK INDUSTRIAL                Q1                        1                             NaN
                                                                                        2                             NaN
                                                              Q2                        4                             NaN
                                                                                        5                             NaN
...                                                                                                                   ...
2016                   WINTERBURN INDUSTRIAL AREA WEST        Q1                        1                             NaN
                                                                                        2                             NaN

In [32]:
df = df_.fillna(0,inplace=True)

In [33]:
df_.to_csv('Crimes Sorted.csv')

In [34]:
df = pd.read_csv('Crimes Sorted.csv')

In [35]:
df

,Incident Reported Year,Neighbourhood Description (Occurrence),Incident Reported Quarter,Incident Reported Month,Assault,Break and Enter,Homicide,Robbery,Sexual Assaults,Theft From Vehicle,Theft Of Vehicle,Theft Over $5000
0,2011,ABBOTTSFIELD,Q1,1,2.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
1,2011,ABBOTTSFIELD,Q1,2,3.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,2011,ABBOTTSFIELD,Q1,3,1.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0
3,2011,ABBOTTSFIELD,Q2,4,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0
4,2011,ABBOTTSFIELD,Q2,5,4.0,1.0,0.0,1.0,0.0,4.0,3.0,0.0
5,2011,ABBOTTSFIELD,Q2,6,1.0,0.0,0.0,2.0,0.0,1.0,2.0,0.0
6,2011,ABBOTTSFIELD,Q3,7,4.0,1.0,0.0,0.0,0.0,3.0,4.0,0.0
7,2011,ABBOTTSFIELD,Q3,8,6.0,1.0,0.0,0.0,1.0,3.0,0.0,0.0
8,2011,ABBOTTSFIELD,Q3,9,6.0,3.0,0.0,0.0,1.0,3.0,2.0,0.0
9,2011,ABBOTTSFIELD,Q4,10,1.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0
10,2011,ABBOTTSFIELD,Q4,11,2.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0
11,2011,ABBOTTSFIELD,Q4,12,2.0,1.0,0.0,1.0,2.0,1.0,2.0,0.0
12,2011,ALBANY,Q1,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
13,2011,ALBANY,Q2,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
14,2011,ALBERTA AVENUE,Q1,1,7.0,6.0,0.0,3.0,2.0,2.0,11.0,0.0
15,2011,ALBERTA AVENUE,Q1,2,8.0,5.0,0.0,1.0,0.0,3.0,6.0,0.0
16,2011,ALBERTA AVENUE,Q1,3,5.0,9.0,0.0,0.0,5.0,13.0,3.0,0.0
17,2011,ALBERTA AVENUE,Q2,4,8.0,8.0,0.0,1.0,1.0,10.0,9.0,0.0
18,2011,ALBERTA AVENUE,Q2,5,8.0,11.0,1.0,2.0,1.0,12.0,5.0,1.0
19,2011,ALBERTA AVENUE,Q2,6,11.0,13.0,0.0,2.0,2.0,5.0,4.0,0.0
20,2011,ALBERTA AVENUE,Q3,7,4.0,13.0,0.0,2.0,4.0,10.0,2.0,0.0
21,2011,ALBERTA AVENUE,Q3,8,13.0,7.0,0.0,7.0,1.0,8.0,5.0,0.0
22,2011,ALBERTA AVENUE,Q3,9,9.0,14.0,0.0,2.0,1.0,2.0,5.0,0.0
23,2011,ALBERTA AVENUE,Q4,10,8.0,7.0,0.0,2.0,0.0,7.0,3.0,1.0
24,2011,ALBERTA AVENUE,Q4,11,8.0,6.0,0.0,1.0,0.0,7.0,2.0,0.0
25,2011,ALBERTA AVENUE,Q4,12,3.0,3.0,0.0,4.0,2.0,16.0,4.0,0.0
26,2011,ALBERTA PARK INDUSTRIAL,Q1,1,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
27,2011,ALBERTA PARK INDUSTRIAL,Q1,2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
28,2011,ALBERTA PARK INDUSTRIAL,Q2,4,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
29,2011,ALBERTA PARK INDUSTRIAL,Q2,5,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19603,2016,WINTERBURN INDUSTRIAL AREA WEST,Q1,1,0.0,2.0,0.0,0.0,0.0,1.0,2.0,0.0
19604,2016,WINTERBURN INDUSTRIAL AREA WEST,Q1,2,0.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0
19605,2016,WINTERBURN INDUSTRIAL AREA WEST,Q1,3,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0
19606,2016,WINTERBURN INDUSTRIAL AREA WEST,Q2,4,1.0,6.0,0.0,0.0,0.0,0.0,1.0,0.0
19607,2016,WINTERBURN INDUSTRIAL AREA WEST,Q2,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
19608,2016,WINTERBURN INDUSTRIAL AREA WEST,Q2,6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
19609,2016,WOODCROFT,Q1,1,2.0,1.0,0.0,3.0,0.0,3.0,4.0,0.0
19610,2016,WOODCROFT,Q1,2,6.0,1.0,0.0,0.0,0.0,2.0,1.0,1.0
19611,2016,WOODCROFT,Q1,3,3.0,0.0,0.0,1.0,1.0,3.0,3.0,0.0
19612,2016,WOODCROFT,Q2,4,4.0,5.0,0.0,0.0,1.0,2.0,0.0,0.0
19613,2016,WOODCROFT,Q2,5,3.0,0.0,0.0,2.0,0.0,1.0,2.0,0.0
19614,2016,WOODCROFT,Q2,6,3.0,1.0,0.0,4.0,0.0,5.0,2.0,0.0
19615,2016,YELLOWHEAD CORRIDOR EAST,Q1,1,0.0,1.0,0.0,1.0,0.0,1.0,3.0,0.0
19616,2016,YELLOWHEAD CORRIDOR EAST,Q1,2,1.0,2.0,0.0,0.0,0.0,3.0,2.0,0.0
19617,2016,YELLOWHEAD CORRIDOR EAST,Q1,3,2.0,0.0,0.0,1.0,0.0,2.0,3.0,1.0
19618,2016,YELLOWHEAD CORRIDOR EAST,Q2,4,0.0,2.0,0.0,0.0,0.0,3.0,1.0,0.0
19619,2016,YELLOWHEAD CORRIDOR EAST,Q2,5,1.0,2.0,0.0,0.0,0.0,2.0,1.0,1.0
19620,2016,YELLOWHEAD CORRIDOR EAST,Q2,6,0.0,1.0,0.0,0.0,0.0,1.0,3.0,0.0
19621,2016,YELLOWHEAD CORRIDOR WEST,Q1,3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
19622,2016,YELLOWHEAD CORRIDOR WEST,Q2,6,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19623,2016,YORK,Q1,1,3.0,3.0,0.0,0.0,0.0,5.0,0.0,0.0
19624,2016,YORK,Q1,2,1.0,5.0,0.0,0.0,0.0,0.0,3.0,0.0
19625,2016,YORK,Q1,3,3.0,2.0,0.0,0.0,1.0,3.0,1.0,0.0
19626,2016,YORK,Q2,4,2.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0
19627,2016,YORK,Q2,5,1.0,1.0,0.0,0.0,0.0,5.0,2.0,0.0
19628,2016,YORK,Q2,6,1.0,0.0,0.0,2.0,0.0,11.0,3.0,1.0
19629,2016,YOUNGSTOWN INDUSTRIAL,Q1,1,0.0,2.0,0.0,0.0,0.0,2.0,0.0,0.0
19630,2016,YOUNGSTOWN INDUSTRIAL,Q1,2,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
19631,2016,YOUNGSTOWN INDUSTRIAL,Q2,5,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
19632,2016,YOUNGSTOWN INDUSTRIAL,Q2,6,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0