In [1]:
import pandas as pd
import numpy as np

In [2]:
df2012 = pd.read_csv('../data/2012_Census_-_Population_By_School_Residency__Neighbourhood_.csv')
df2014 = pd.read_csv('../data/2014_Census_-_Population_By_School_Residency__Neighbourhood_.csv')
df2016 = pd.read_csv('../data/2016_Census_-_Population_By_School_Residency__Neighbourhood_.csv')

In [3]:
df2012.columns

Index(['WARD', 'NEIGHBOURHOOD_NUMBER', 'NEIGHBOURHOOD NAME', 'EDMONTON_PUBLIC',
       'EDMONTON_CATHOLIC', 'NO_RESPONSE'],
      dtype='object')

In [4]:
df2014.columns

Index(['WARD', 'NEIGHBOURHOOD_NUMBER', 'NEIGHBOURHOOD_NAME', 'PUBLIC',
       'CATHOLIC', 'NO_RESPONSE'],
      dtype='object')

In [5]:
df2016.columns

Index(['﻿Ward', 'Neighbourhood Number', 'Neighbourhood Name', 'Public',
       'Catholic', 'Francophone', 'No Response'],
      dtype='object')

In [6]:
df2016['Public'] = df2016['Francophone'] + df2016['Public']

In [7]:
del df2016['Francophone']

In [8]:
new_columns = df2016.columns
new_columns

Index(['﻿Ward', 'Neighbourhood Number', 'Neighbourhood Name', 'Public',
       'Catholic', 'No Response'],
      dtype='object')

In [9]:
# The column names is changed in 2016, need some unification
df2012.columns = new_columns
df2014.columns = new_columns

In [10]:
df2012.columns == df2016.columns

array([ True,  True,  True,  True,  True,  True], dtype=bool)

In [11]:
df2014.columns == df2016.columns

array([ True,  True,  True,  True,  True,  True], dtype=bool)

In [12]:
def build(df, year):
    df_minus = pd.DataFrame(dtype='int64')
    for idx, row in df.iterrows():
        for i in range(1, 5):
            for j in range(1, 4):
                row['Quarter'] = int(i)
                row['Month'] = int(3*(i-1)+j)
                row['Year'] = int(year)
                df_minus = df_minus.append(row)
    return df_minus

In [13]:
df2011 = build(df2012, 2011)
df2012 = build(df2012, 2012)
df2013 = build(df2014, 2013)
df2014 = build(df2014, 2014)
df2015 = build(df2016, 2015)
df2016 = build(df2016, 2016)

In [14]:
final_df = pd.DataFrame()
final_df = final_df.append(df2011).append(df2012).append(df2013).append(df2014).append(df2015).append(df2016)
final_df = final_df.rename(columns={'No Response': 'No Response(School)'})

In [15]:
for i in final_df.columns:
    try:
        final_df[i] = final_df[i].astype('int64')
        print(i, 'is an int64 column')
    except:
        print(i, 'is not an int64 column')

Catholic is an int64 column
Month is an int64 column
Neighbourhood Name is not an int64 column
Neighbourhood Number is an int64 column
No Response(School) is an int64 column
Public is an int64 column
Quarter is an int64 column
Year is an int64 column
﻿Ward is not an int64 column

In [16]:
final_df.reset_index()
final_df

,Catholic,Month,Neighbourhood Name,Neighbourhood Number,No Response(School),Public,Quarter,Year,﻿Ward
0,0,1,ALBERTA PARK INDUSTRIAL,4010,0,0,1,2011,Ward 1
0,0,2,ALBERTA PARK INDUSTRIAL,4010,0,0,1,2011,Ward 1
0,0,3,ALBERTA PARK INDUSTRIAL,4010,0,0,1,2011,Ward 1
0,0,4,ALBERTA PARK INDUSTRIAL,4010,0,0,2,2011,Ward 1
0,0,5,ALBERTA PARK INDUSTRIAL,4010,0,0,2,2011,Ward 1
0,0,6,ALBERTA PARK INDUSTRIAL,4010,0,0,2,2011,Ward 1
0,0,7,ALBERTA PARK INDUSTRIAL,4010,0,0,3,2011,Ward 1
0,0,8,ALBERTA PARK INDUSTRIAL,4010,0,0,3,2011,Ward 1
0,0,9,ALBERTA PARK INDUSTRIAL,4010,0,0,3,2011,Ward 1
0,0,10,ALBERTA PARK INDUSTRIAL,4010,0,0,4,2011,Ward 1
0,0,11,ALBERTA PARK INDUSTRIAL,4010,0,0,4,2011,Ward 1
0,0,12,ALBERTA PARK INDUSTRIAL,4010,0,0,4,2011,Ward 1
1,1392,1,ALDERGROVE,4020,343,3780,1,2011,Ward 1
1,1392,2,ALDERGROVE,4020,343,3780,1,2011,Ward 1
1,1392,3,ALDERGROVE,4020,343,3780,1,2011,Ward 1
1,1392,4,ALDERGROVE,4020,343,3780,2,2011,Ward 1
1,1392,5,ALDERGROVE,4020,343,3780,2,2011,Ward 1
1,1392,6,ALDERGROVE,4020,343,3780,2,2011,Ward 1
1,1392,7,ALDERGROVE,4020,343,3780,3,2011,Ward 1
1,1392,8,ALDERGROVE,4020,343,3780,3,2011,Ward 1
1,1392,9,ALDERGROVE,4020,343,3780,3,2011,Ward 1
1,1392,10,ALDERGROVE,4020,343,3780,4,2011,Ward 1
1,1392,11,ALDERGROVE,4020,343,3780,4,2011,Ward 1
1,1392,12,ALDERGROVE,4020,343,3780,4,2011,Ward 1
2,0,1,ANTHONY HENDAY,4011,0,0,1,2011,Ward 1
2,0,2,ANTHONY HENDAY,4011,0,0,1,2011,Ward 1
2,0,3,ANTHONY HENDAY,4011,0,0,1,2011,Ward 1
2,0,4,ANTHONY HENDAY,4011,0,0,2,2011,Ward 1
2,0,5,ANTHONY HENDAY,4011,0,0,2,2011,Ward 1
2,0,6,ANTHONY HENDAY,4011,0,0,2,2011,Ward 1
...,...,...,...,...,...,...,...,...,...
385,1115,7,LYMBURN,4270,1553,3024,3,2016,WARD 5
385,1115,8,LYMBURN,4270,1553,3024,3,2016,WARD 5
385,1115,9,LYMBURN,4270,1553,3024,3,2016,WARD 5
385,1115,10,LYMBURN,4270,1553,3024,4,2016,WARD 5
385,1115,11,LYMBURN,4270,1553,3024,4,2016,WARD 5
385,1115,12,LYMBURN,4270,1553,3024,4,2016,WARD 5
386,411,1,DECHENE,4110,508,713,1,2016,WARD 5
386,411,2,DECHENE,4110,508,713,1,2016,WARD 5
386,411,3,DECHENE,4110,508,713,1,2016,WARD 5
386,411,4,DECHENE,4110,508,713,2,2016,WARD 5
386,411,5,DECHENE,4110,508,713,2,2016,WARD 5
386,411,6,DECHENE,4110,508,713,2,2016,WARD 5
386,411,7,DECHENE,4110,508,713,3,2016,WARD 5
386,411,8,DECHENE,4110,508,713,3,2016,WARD 5
386,411,9,DECHENE,4110,508,713,3,2016,WARD 5
386,411,10,DECHENE,4110,508,713,4,2016,WARD 5
386,411,11,DECHENE,4110,508,713,4,2016,WARD 5
386,411,12,DECHENE,4110,508,713,4,2016,WARD 5
387,61,1,EBBERS,2251,16,48,1,2016,WARD 4
387,61,2,EBBERS,2251,16,48,1,2016,WARD 4
387,61,3,EBBERS,2251,16,48,1,2016,WARD 4
387,61,4,EBBERS,2251,16,48,2,2016,WARD 4
387,61,5,EBBERS,2251,16,48,2,2016,WARD 4
387,61,6,EBBERS,2251,16,48,2,2016,WARD 4
387,61,7,EBBERS,2251,16,48,3,2016,WARD 4
387,61,8,EBBERS,2251,16,48,3,2016,WARD 4
387,61,9,EBBERS,2251,16,48,3,2016,WARD 4
387,61,10,EBBERS,2251,16,48,4,2016,WARD 4
387,61,11,EBBERS,2251,16,48,4,2016,WARD 4
387,61,12,EBBERS,2251,16,48,4,2016,WARD 4

In [17]:
final_df.to_csv('../merged_data/Population_By_School_Residency.csv')