In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import mean_squared_error

In [2]:
df = pd.read_csv('../merged_data/ready.csv')
df = df.fillna(0)
df = df[['Assault', 'Break and Enter', 'Homicide',
       'Robbery', 'Sexual Assaults', 'Theft From Vehicle', 'Theft Of Vehicle',
       'Theft Over $5000', 'Year', 'Neighbourhood Name', 'Month']]
df.head()

,Assault,Break and Enter,Homicide,Robbery,Sexual Assaults,Theft From Vehicle,Theft Of Vehicle,Theft Over $5000,Year,Neighbourhood Name,Month
0,0,3,0,0,0,0,0,0,2011,ALBERTA PARK INDUSTRIAL,1
1,0,0,0,0,0,0,1,0,2011,ALBERTA PARK INDUSTRIAL,2
2,0,0,0,0,0,0,0,0,2011,ALBERTA PARK INDUSTRIAL,3
3,0,1,0,0,0,1,0,0,2011,ALBERTA PARK INDUSTRIAL,4
4,0,0,0,0,0,0,1,0,2011,ALBERTA PARK INDUSTRIAL,5

In [3]:
df2012 = df.loc[df['Year'] == 2012]
df2014 = df.loc[df['Year'] == 2014]
df2016 = df.loc[df['Year'] == 2016]

In [4]:
cons1 = pd.DataFrame(columns=['Assault', 'Break and Enter', 'Homicide',
       'Robbery', 'Sexual Assaults', 'Theft From Vehicle', 'Theft Of Vehicle',
       'Theft Over $5000', 'Year', 'Neighbourhood Name', 'Month'])
cons2 = pd.DataFrame(columns=['Assault', 'Break and Enter', 'Homicide',
       'Robbery', 'Sexual Assaults', 'Theft From Vehicle', 'Theft Of Vehicle',
       'Theft Over $5000', 'Year', 'Neighbourhood Name', 'Month'])

In [5]:
store = list(df2012['Neighbourhood Name'].unique())
for idx, row in df2014.iterrows():
    if row['Neighbourhood Name'] in store:
        dfxxx = pd.DataFrame(data = row).transpose()
        cons1 = pd.concat([cons1, dfxxx], ignore_index=True)

In [6]:
store = list(cons1['Neighbourhood Name'].unique())

In [7]:
for idx, row in df2012.iterrows():
    if row['Neighbourhood Name'] in store:
        dfxxx = pd.DataFrame(data = row).transpose()
        cons2 = pd.concat([cons2, dfxxx], ignore_index=True)

In [8]:
crimes = ['Assault', 'Break and Enter', 'Homicide', 'Robbery', 'Sexual Assaults',
       'Theft From Vehicle', 'Theft Of Vehicle', 'Theft Over $5000']

for i in crimes:
    print(i, np.sqrt(mean_squared_error(cons1[i], cons2[i])))

Assault 2.98102104764
Break and Enter 1.96649869492
Homicide 0.0949157995752
Robbery 0.803006737095
Sexual Assaults 0.605344068643
Theft From Vehicle 2.74895557562
Theft Of Vehicle 1.64535929426
Theft Over $5000 0.392497202607

In [9]:
cons3 = pd.DataFrame(columns=['Assault', 'Break and Enter', 'Homicide',
       'Robbery', 'Sexual Assaults', 'Theft From Vehicle', 'Theft Of Vehicle',
       'Theft Over $5000', 'Year', 'Neighbourhood Name', 'Month'])
cons4 = pd.DataFrame(columns=['Assault', 'Break and Enter', 'Homicide',
       'Robbery', 'Sexual Assaults', 'Theft From Vehicle', 'Theft Of Vehicle',
       'Theft Over $5000', 'Year', 'Neighbourhood Name', 'Month'])

In [10]:
store = list(df2014['Neighbourhood Name'].unique())

for idx, row in df2016.iterrows():
    if row['Neighbourhood Name'] in store:
        dfxxx = pd.DataFrame(data = row).transpose()
        cons3 = pd.concat([cons3, dfxxx], ignore_index=True)

In [11]:
store = list(cons3['Neighbourhood Name'].unique())
for idx, row in df2014.iterrows():
    if row['Neighbourhood Name'] in store:
        dfxxx = pd.DataFrame(data = row).transpose()
        cons4 = pd.concat([cons4, dfxxx], ignore_index=True)

In [12]:
crimes = ['Assault', 'Break and Enter', 'Homicide', 'Robbery', 'Sexual Assaults',
       'Theft From Vehicle', 'Theft Of Vehicle', 'Theft Over $5000']

for i in crimes:
    print(i, np.sqrt(mean_squared_error(cons3[i], cons4[i][:4584])))

Assault 3.37688606727
Break and Enter 2.09971742468
Homicide 0.0898418233821
Robbery 0.844600962195
Sexual Assaults 0.535396315508
Theft From Vehicle 3.3526382516
Theft Of Vehicle 1.7709109674
Theft Over $5000 0.369837943851

In [13]:
final1 = pd.concat([cons1, cons3])
final2 = pd.concat([cons2, cons4[:4584]])

In [14]:
final1

,Assault,Break and Enter,Homicide,Robbery,Sexual Assaults,Theft From Vehicle,Theft Of Vehicle,Theft Over $5000,Year,Neighbourhood Name,Month
0,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,1
1,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,2
2,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,3
3,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,4
4,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,5
5,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,6
6,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,7
7,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,8
8,1,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,9
9,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,10
10,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,11
11,0,0,0,0,0,0,0,0,2014,RIVER VALLEY CAPITOL HILL,12
12,0,0,0,0,0,0,1,0,2014,ALBERTA PARK INDUSTRIAL,1
13,0,0,0,0,0,0,0,0,2014,ALBERTA PARK INDUSTRIAL,2
14,0,0,0,0,0,2,0,0,2014,ALBERTA PARK INDUSTRIAL,3
15,0,0,0,0,0,0,2,0,2014,ALBERTA PARK INDUSTRIAL,4
16,0,0,0,0,0,0,0,0,2014,ALBERTA PARK INDUSTRIAL,5
17,0,1,0,0,0,0,0,0,2014,ALBERTA PARK INDUSTRIAL,6
18,0,1,0,0,0,1,0,0,2014,ALBERTA PARK INDUSTRIAL,7
19,0,2,0,0,0,0,1,0,2014,ALBERTA PARK INDUSTRIAL,8
20,0,0,0,0,0,0,0,0,2014,ALBERTA PARK INDUSTRIAL,9
21,0,0,0,0,0,2,1,0,2014,ALBERTA PARK INDUSTRIAL,10
22,0,0,0,0,0,0,2,0,2014,ALBERTA PARK INDUSTRIAL,11
23,0,0,0,0,0,0,0,0,2014,ALBERTA PARK INDUSTRIAL,12
24,0,0,0,0,0,0,0,0,2014,ANTHONY HENDAY,1
25,0,0,0,0,0,0,0,0,2014,ANTHONY HENDAY,2
26,0,0,0,0,0,0,0,0,2014,ANTHONY HENDAY,3
27,0,0,0,0,0,0,0,0,2014,ANTHONY HENDAY,4
28,0,0,0,0,0,0,0,0,2014,ANTHONY HENDAY,5
29,0,0,0,0,0,0,0,0,2014,ANTHONY HENDAY,6
...,...,...,...,...,...,...,...,...,...,...,...
4554,0,0,0,0,0,0,0,0,2016,GARNEAU,7
4555,0,0,0,0,0,0,0,0,2016,GARNEAU,8
4556,0,0,0,0,0,0,0,0,2016,GARNEAU,9
4557,0,0,0,0,0,0,0,0,2016,GARNEAU,10
4558,0,0,0,0,0,0,0,0,2016,GARNEAU,11
4559,0,0,0,0,0,0,0,0,2016,GARNEAU,12
4560,25,14,0,12,6,23,5,2,2016,DOWNTOWN,1
4561,30,16,1,9,3,24,3,1,2016,DOWNTOWN,2
4562,41,20,0,6,0,33,8,1,2016,DOWNTOWN,3
4563,37,8,0,9,4,19,7,0,2016,DOWNTOWN,4
4564,44,3,0,8,0,22,11,2,2016,DOWNTOWN,5
4565,32,9,0,8,5,28,10,0,2016,DOWNTOWN,6
4566,0,0,0,0,0,0,0,0,2016,DOWNTOWN,7
4567,0,0,0,0,0,0,0,0,2016,DOWNTOWN,8
4568,0,0,0,0,0,0,0,0,2016,DOWNTOWN,9
4569,0,0,0,0,0,0,0,0,2016,DOWNTOWN,10
4570,0,0,0,0,0,0,0,0,2016,DOWNTOWN,11
4571,0,0,0,0,0,0,0,0,2016,DOWNTOWN,12
4572,10,12,0,3,0,15,6,0,2016,OLIVER,1
4573,10,10,0,2,1,17,7,1,2016,OLIVER,2
4574,10,14,0,2,2,19,5,0,2016,OLIVER,3
4575,9,12,0,5,0,24,8,0,2016,OLIVER,4
4576,12,8,0,3,0,15,8,0,2016,OLIVER,5
4577,21,7,0,4,0,16,8,0,2016,OLIVER,6
4578,0,0,0,0,0,0,0,0,2016,OLIVER,7
4579,0,0,0,0,0,0,0,0,2016,OLIVER,8
4580,0,0,0,0,0,0,0,0,2016,OLIVER,9
4581,0,0,0,0,0,0,0,0,2016,OLIVER,10
4582,0,0,0,0,0,0,0,0,2016,OLIVER,11
4583,0,0,0,0,0,0,0,0,2016,OLIVER,12

In [15]:
final2

,Assault,Break and Enter,Homicide,Robbery,Sexual Assaults,Theft From Vehicle,Theft Of Vehicle,Theft Over $5000,Year,Neighbourhood Name,Month
0,0,2,0,0,0,0,0,0,2012,ALBERTA PARK INDUSTRIAL,1
1,0,1,0,0,0,1,0,0,2012,ALBERTA PARK INDUSTRIAL,2
2,0,4,0,0,0,2,0,0,2012,ALBERTA PARK INDUSTRIAL,3
3,0,0,0,0,0,0,1,0,2012,ALBERTA PARK INDUSTRIAL,4
4,0,0,0,0,0,0,0,0,2012,ALBERTA PARK INDUSTRIAL,5
5,0,0,0,0,1,0,0,0,2012,ALBERTA PARK INDUSTRIAL,6
6,0,0,0,0,0,0,0,0,2012,ALBERTA PARK INDUSTRIAL,7
7,0,0,0,0,0,1,0,0,2012,ALBERTA PARK INDUSTRIAL,8
8,0,1,0,0,0,1,1,0,2012,ALBERTA PARK INDUSTRIAL,9
9,0,0,0,0,0,0,1,0,2012,ALBERTA PARK INDUSTRIAL,10
10,0,0,0,0,0,1,0,0,2012,ALBERTA PARK INDUSTRIAL,11
11,0,0,0,0,0,1,0,0,2012,ALBERTA PARK INDUSTRIAL,12
12,0,0,0,0,0,0,0,1,2012,ANTHONY HENDAY,1
13,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,2
14,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,3
15,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,4
16,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,5
17,0,0,0,0,0,0,0,1,2012,ANTHONY HENDAY,6
18,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,7
19,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,8
20,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,9
21,1,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,10
22,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,11
23,0,0,0,0,0,0,0,0,2012,ANTHONY HENDAY,12
24,0,0,0,0,0,0,0,0,2012,CARLETON SQUARE INDUSTRIAL,1
25,0,1,0,0,0,1,2,0,2012,CARLETON SQUARE INDUSTRIAL,2
26,0,1,0,0,0,0,0,0,2012,CARLETON SQUARE INDUSTRIAL,3
27,0,0,0,0,0,0,1,0,2012,CARLETON SQUARE INDUSTRIAL,4
28,1,0,0,0,0,0,1,0,2012,CARLETON SQUARE INDUSTRIAL,5
29,0,0,0,0,0,0,1,0,2012,CARLETON SQUARE INDUSTRIAL,6
...,...,...,...,...,...,...,...,...,...,...,...
4554,9,8,0,2,0,20,7,0,2014,STRATHCONA,7
4555,11,11,1,0,1,7,8,0,2014,STRATHCONA,8
4556,5,7,0,0,1,11,6,2,2014,STRATHCONA,9
4557,8,7,0,4,1,16,4,0,2014,STRATHCONA,10
4558,7,3,0,2,0,4,5,0,2014,STRATHCONA,11
4559,8,6,0,0,0,11,5,0,2014,STRATHCONA,12
4560,1,2,0,0,2,5,0,0,2014,GARNEAU,1
4561,1,5,0,3,0,4,2,0,2014,GARNEAU,2
4562,2,6,0,1,0,8,2,0,2014,GARNEAU,3
4563,0,3,0,1,0,6,1,0,2014,GARNEAU,4
4564,2,8,0,3,0,15,4,1,2014,GARNEAU,5
4565,1,5,0,0,0,6,1,0,2014,GARNEAU,6
4566,1,4,0,1,2,5,3,0,2014,GARNEAU,7
4567,3,6,0,2,2,9,4,0,2014,GARNEAU,8
4568,5,6,0,1,0,14,2,0,2014,GARNEAU,9
4569,5,2,0,1,0,5,1,0,2014,GARNEAU,10
4570,3,3,0,1,0,5,7,0,2014,GARNEAU,11
4571,2,2,0,0,0,3,3,0,2014,GARNEAU,12
4572,42,12,1,7,1,15,8,1,2014,DOWNTOWN,1
4573,22,8,0,5,8,32,8,2,2014,DOWNTOWN,2
4574,36,6,0,4,3,18,8,0,2014,DOWNTOWN,3
4575,30,5,0,8,4,26,6,2,2014,DOWNTOWN,4
4576,33,4,0,3,3,24,5,0,2014,DOWNTOWN,5
4577,36,9,0,9,0,25,3,0,2014,DOWNTOWN,6
4578,37,18,1,8,0,27,8,1,2014,DOWNTOWN,7
4579,33,14,0,9,3,38,4,1,2014,DOWNTOWN,8
4580,39,7,0,11,3,34,4,0,2014,DOWNTOWN,9
4581,33,3,0,9,2,25,4,0,2014,DOWNTOWN,10
4582,36,12,0,3,0,19,7,1,2014,DOWNTOWN,11
4583,30,19,0,7,6,29,10,0,2014,DOWNTOWN,12

In [16]:
alist = []
for i in crimes:
    rmse = np.sqrt(mean_squared_error(final1[i], final2[i]))
    print(i, rmse)
    alist.append(rmse)

Assault 3.18826040853
Break and Enter 2.03526097443
Homicide 0.0923731639517
Robbery 0.824398018071
Sexual Assaults 0.570884128299
Theft From Vehicle 3.07048189093
Theft Of Vehicle 1.71028905524
Theft Over $5000 0.381155159114

In [17]:
# Single Multi
alist

[3.1882604085338002,
 2.0352609744311794,
 0.092373163951657067,
 0.82439801807050794,
 0.5708841282986088,
 3.070481890933928,
 1.7102890552424961,
 0.38115515911390851]